<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.metalslug">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DialogueActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="false" />
        <activity
            android:name="com.example.fifteen.PuzzleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:keepScreenOn="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:keepScreenOn="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 设置Activity所需的屏幕方向、软输入方式 -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:keepScreenOn="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>